.table {
  width: 70%;
  margin: 0 auto;
  margin-top: 30px;
  text-align: center; }
  .table__header {
    background-color: #E46225;
    color: #fff; }
  .table__body:nth-child(even) {
    background-color: #E7E4EA; }
  .table__btn {
    background-color: transparent;
    border: none;
    width: 70px;
    margin-left: 10px;
    border-radius: 3px;
    border: 1px solid #ADABAF;
    font-weight: bold; }
    .table__btn:hover {
      background-color: #E46225;
      color: #fff;
      border: 1px solid #E46225; }
  .table__body td {
    border: 1px solid #ADABAF; }
